@import '../../../../styles/mixins';

.sorting-bar {
  @include right-column-element();

  top: 0;
  height: 65px;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &__item {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;

    &--active {
      border-bottom: 1px dashed #000;
    }
  }
}