<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>News App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
</body>
</html>