.source-news {
  height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 10px 20px 20px 370px;
  overflow-y: scroll;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__news {
    position: relative;
    display: inline-block;
    width: 30%;
    min-width: 255px;
    margin-bottom: 35px;
    padding: 8px 8px 55px;
    box-shadow: 1px 6px 20px 3px rgba(179,172,179,1);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__image-wrapper {
    position: relative;
    height: 160px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    background: gray;
    text-align: center;

    &:before {
      content: '...';
      position: absolute;
      top: calc(50% - 20px);
      width: 100%;
      text-align: center;
      display: block;
      color: #fff;
      letter-spacing: 3px;
      font-size: 40px;
      opacity: .5;
    }

    &--loaded {
      background: #fff;

      &:before {
        content: '';
        display: none;
      }
    }
  }

  &__image {
    max-width: 100% !important;
    max-height: 100% !important;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &--loaded {
      opacity: 1;
    }
  }

  &__title {
    position: relative;
    font-weight: 600;
    font-size: 17px;
    text-align: center
  }

  &__footer {
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-size: 12px;
    color: #ccc;
  }

  &__author {
    color: #848484;
  }

  &__date {
    padding-top: 5px;
  }

  &__loader {
    visibility: hidden;
    height: 100px;
  }
}