<div class="pages">
    <div class="pages__navigation pages__navigation--prev">
        &lsaquo;
    </div>

    <div class="pages__pages-list">
        {{> partials/pages range=(json range)}}
    </div>

    <div class="pages__navigation pages__navigation--next">
        &rsaquo;
    </div>
</div>