@import '../../../../styles/mixins';

.pagination {
  @include right-column-element();

  font-size: 24px;
}

.pages {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $sidebar-width;
  margin: auto;

  &__pages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: auto;
  }

  &__page {
    display: inline-block;
    cursor: pointer;

    &--active {
      text-decoration: underline;
    }
  }

  &__navigation {
    position: absolute;
    top: -5px;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    visibility: hidden;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}